**1-Write a Python program to calculate the length of a string using 2 ways

In [2]:
a="I love Python"
print(len(a))

13

In [1]:
a="I love Python"
count=0
for i in a:
    count+=1
print(count)

13

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [3]:
a=input("please enter your text")    
if len(a)<2:
    print("Empty String")
else:
    print(a[:2]+a[-2:])
    print(a[:2])
    print(a[-2:])

please enter your textw3resource
w3ce
w3
ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [2]:
a=input("please enter your text")
if len(a)<3:
        print(a)
elif a[-3:]=="ing":
    print(a+"ly")
else:
    print(a+"ing")

please enter your textabc
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [3]:
a=input("please enter your text")
b=a.split()
print(b)
max=0
for i in b:
    if len(i)>max:
        max=len(i)
        word=i
print("Longest word:",word)
print("Length of the longest word:",max)

please enter your textExercises playing test
['Exercises', 'playing', 'test']
Longest word: Exercises
Length of the longest word: 9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [88]:
a="abca"
print(a[-1]+a[1:-1]+a[0])
print(a[::-1])

abca
acba

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [4]:
a=input("please enter your text")
b=""
for i in range(len(a)):
    if i%2==0:
        b+=a[i]
print(b)

please enter your textabca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [6]:
a=input("please enter your text")
b=a.split()
print(b)
count=0
for i in b:
    if i=="amr":
        count+=1
print(count)

please enter your textamr and ahmed are frindes but amr is the tallest
['amr', 'and', 'ahmed', 'are', 'frindes', 'but', 'amr', 'is', 'the', 'tallest']
2

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [8]:
a=input("please enter your text")
print(a.upper())
print(a.lower())

please enter your texti love python
I LOVE PYTHON
i love python

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [11]:
a=input("please enter your text")
if len(a)%4==0:
    print(a[::-1])
else:
    print(a)

please enter your texti love python programing
gnimargorp nohtyp evol i

**10- Write a Python program to remove a newline in Python

In [12]:
a="hello\nworld"
print(a)
print(a.strip("\n"))

hello
world
hello
world

**11-Write a Python program to check whether a string starts with specified characters

In [13]:
a="hello world"
print(a.startswith("hello"))
print(a.endswith("world"))

True
True

**12- Write a Python program to add prefix text to all of the lines in a string

In [15]:
a="hello\nworld"
print(a)
print(a.replace("\n","\n"+"python"))

hello
world
hello
pythonworld

**13-Write a Python program to print the following numbers up to 2 decimal places

In [16]:
a=3.1415926
print(round(a,2))

3.14

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [19]:
a=3.1415926   
print("{:+.2f}".format(a))

+3.14

**15-Write a Python program to display a number with a comma separator

In [20]:
a=3000000
print("{:,}".format(a))

3,000,000

**16-Write a Python program to reverse a string using 2 ways

In [21]:
a="hello world"
print(a[::-1])
print("".join(reversed(a)))

dlrow olleh
dlrow olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [22]:
a="hello world"
b={}
for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
print(b)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [23]:
a="hello world"
b={}
for i in a:
    if i in b:
        b[i]+=1
    else:
        b[i]=1
for i in a:
    if b[i]==1:
        print(i)
        break

h

**19-Write a Python program to remove spaces from a given string

In [24]:
a="hello world"
print(a.replace(" ",""))

helloworld

**20-Write a Python program to count the number of non-empty substrings of a given string

In [25]:
a="hello world"
print(len(a)*(len(a)+1)//2)

66

**21-write a Python program to swap first and last element of any list.

In [26]:
a=[1,2,3,4,5,6,7,8,9]
a[0],a[-1]=a[-1],a[0]
print(a)

[9, 2, 3, 4, 5, 6, 7, 8, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [27]:
a=[23, 65, 19, 90]
pos1=1
pos2=3
a[pos1],a[pos2]=a[pos2],a[pos1]
print(a)

[23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [28]:
a=[1,2,3,4,5,6,7,8,9]
print(len(a))
count=0
for i in a:
    count+=1
print(count)

9
9

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [39]:
a=[1,2,3,4,5,6,7,8,9]
print(max(a))

TypeError: 'int' object is not callable

In [35]:
**25-write a Python code to find the Minimum number of list of numbers.

SyntaxError: invalid syntax (236367960.py, line 1)

In [40]:
a=[1,2,3,4,5,6,7,8,9]
print(min(a))

1

**26-search for if an elem is existing in list

In [41]:
a=[1,2,3,4,5,6,7,8,9]
if 5 in a:
    print("yes")
else:
    print("no")

yes

**27- clear python list using different ways

In [44]:
a=[1,2,3,4,5,6,7,8,9]
a.clear()
print(a)
a=[1,2,3,4,5,6,7,8,9]
a=[]
print(a)
a=[1,2,3,4,5,6,7,8,9]
del a[:]
print(a)

[]
[]
[]

**28-remove duplicated elements from a list

In [45]:
a=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
b=[]
for i in a:
    if i not in b:
        b.append(i)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [46]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
res=[]
for i in range(0,len(test_list),2):
    res.append({key_list[0]:test_list[i],key_list[1]:test_list[i+1]})
print(res)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [47]:
a=[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9]
print(len(set(a)))
b=[]  
for i in a:
    if i not in b:
        b.append(i)
print(len(b))

9
9

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [48]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
res=[]
for i in test_list:
    if test_list.count(i)>K:
        res.append(i)
print(list(set(res)))

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [55]:
a=[1,2,2,3,4,5]
res=[]
for i in range(1,len(a)-1):
    res.append(max(a[i-1],a[i+1]))
print(res)

TypeError: 'int' object is not callable

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [57]:
from itertools import permutations
a=[1,2,3]
res=list(permutations(a))
for i in res:
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [58]:
from itertools import combinations
test_list = [1,2,3]
res=[]
for i in range(1,len(test_list)+1):
    res.extend(list(combinations(test_list,i)))
print(res)

[(1,), (2,), (3,), (1, 2), (1, 3), (2, 3), (1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [59]:
from itertools import product
List_1 = ["a","b"]
List_2 = [1,2]
res=list(product(List_1,List_2))
print(res)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [60]:
a=[1,1,2,3,4,5,1,2,1]
for i in a:
    if i==1:
        a.remove(i)
print(a)

[2, 3, 4, 5, 2, 1]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [61]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i in range(len(list2)):
    list2[i]=list1[list2[i]]
print(list2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [62]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
res=[]
for i in test_list:
    if i.count(K)==N:
        res.append(i)
print(res)

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [63]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
print(sorted(array,key=lambda x:x[0]))
print(sorted(array,key=lambda x:x[1]))
print(sorted(array,key=lambda x:x[2]))

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [65]:
d = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
print(sorted(d.items(),key=lambda x:x[0]))

[('rajnish', 9), ('ravi', 10), ('sanjeev', 15), ('suraj', 32), ('yash', 2)]

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [66]:
test_dict = {'Gfg' : 3, 'is' : 7, 'best' : 10, 'for' : 6, 'geeks' : 'CS'}
K = 7
res={}
for i in test_dict:
    if test_dict[i]<=K:
        res[i]=test_dict[i]
print(res)

TypeError: '<=' not supported between instances of 'str' and 'int'

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [68]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [69]:
d = {'x': 10, 'y': 20, 'z': 30}
for i in d:
    print(i,d[i])

x 10
y 20
z 30

**44- Write a Python script to merge two Python dictionaries

In [70]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d1.update(d2)
print(d1)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [71]:
d = {'x': 500, 'y': 5874, 'z': 560}
print(max(d.values()))
print(min(d.values()))

TypeError: 'int' object is not callable

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [72]:
d = {'c1': 'Red', 'c2': 'Green', 'c3': None}
res={}
for i in d:
    if d[i]!=None:
        res[i]=d[i]
print(res)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [73]:
a=(1,2,3,4,5,6,7,8,9)
print(a[0])

1

**48-Write a Python program to unpack a tuple into several variables

In [74]:
a=(1,2,3,4,5,6,7,8,9)
b,c,d,e,f,g,h,i,j=a
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)
print(j)

1
2
3
4
5
6
7
8
9

**49-Write a Python program to add an item to a tuple

In [75]:
a=(1,2,3,4,5,6,7,8,9)
a=a+(10,)
print(a)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**50-Write a Python program to convert a tuple to a string

In [76]:
a=(1,2,3,4,5,6,7,8,9)
print(str(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

**51-Write a Python program to convert a list to a tuple

In [77]:
a=[1,2,3,4,5,6,7,8,9]
print(tuple(a))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

**52-Write a Python program to reverse a tuple

In [78]:
a=(1,2,3,4,5,6,7,8,9)
print(a[::-1])

(9, 8, 7, 6, 5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [80]:
a=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
b=[]
for i in a:
    b.append(i[:-1]+(100,))
print(b)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [81]:
a="python 3.0"
print(tuple(a))

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [82]:
a=((1,2,3),(4,5,6),(7,8,9))
sum=0
count=0
for i in a:
    for j in i:
        sum+=j
        count+=1
print(sum/count)

5.0

**56-Write a Python program to add member(s) to a set.

In [83]:
a={1,2,3,4,5,6,7,8,9}
a.add(10)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [84]:
a={1,2,3,4,5,6,7,8,9}
a.remove(1)
print(a)

{2, 3, 4, 5, 6, 7, 8, 9}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [85]:
a={1,2,3,4,5,6,7,8,9}
b={5,6,7,8,9,10,11,12,13}
print(a.intersection(b))
print(a.union(b))
print(a.difference(b))
print(a.symmetric_difference(b))

{5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
{1, 2, 3, 4}
{1, 2, 3, 4, 10, 11, 12, 13}

**59-Write a Python program to find the maximum and minimum values in a set

In [86]:
a={1,2,3,4,5,6,7,8,9}
print(max(a))
print(min(a))

TypeError: 'int' object is not callable

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [87]:
a=[1,2,3,4,5,6,7,8,9]
sum=10
res=[]
for i in range(len(a)):
    for j in range(i+1,len(a)):
        if a[i]+a[j]==sum:
            res.append((a[i],a[j]))
print(res)

[(1, 9), (2, 8), (3, 7), (4, 6)]